<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.capstone.dolphindive">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DolphinDive">
        <activity android:name=".Local_tips"></activity>
        <activity android:name=".Local_Food" />
        <activity android:name=".equipment_rental" />
        <activity android:name=".PaymentConfirmation" />
        <activity android:name=".PaymentMethod" />
        <activity android:name=".diveshoplistdetail" />
        <activity android:name=".diveshoplist" />
        <activity
            android:name=".ProfileManagement"
            android:label="@string/title_activity_profile_management"
            android:theme="@style/Theme.DolphinDive.NoActionBar" />
        <activity android:name=".DiveLogList" />
        <activity android:name=".diveshoplist" />
        <activity android:name=".ShowProfile" />
        <activity android:name=".EditProfile" />
        <activity android:name=".PostActivity" />
        <activity
            android:name=".CommentActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Login" />
        <activity android:name=".Register" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Chatting" />
        <activity android:name=".DiveLog_Free" />
        <activity android:name=".DiveLog_Scu" />
        <activity android:name=".PreStart">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>